.input-btn-container {
    /* border: 3px solid blue; */
    height: 8vh;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.search-input {
    width: 80%;
    height: 7vh;
    border-radius: 15px;
    background-color: #131824;
    border: 1px solid #2B3342;
    position: relative;
    padding-left: 25px;
    font-size: 15px;
    color: white;
}

