.globalBtn {
    font-size: 1.2rem;
    padding: 0.7rem 2rem;
    font-weight: 400;
    font-size: 0.7rem;
    border-radius: 8px;
    border: 1px solid #2B3342;
    background: #FDA134;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

@media (min-width: 321px) and (max-width: 1024px) {
    .globalBtn {
        padding: 0.6rem 1.5rem;
        font-size: 0.7rem;
    }
}


/* SMALL PHONES */
@media (max-width: 320px) {
    .globalBtn {
        padding: 0.5rem 1rem;
        font-size: 0.65rem;
    }
}