.main-container{
    width: 80vw;
    height: 90vh;
    border: 2px solid red;
    padding: 3rem;
}

.logo-heading{
    display: flex;
    gap: 8px;
}

.logo-container{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDA134;
}