.link-card {
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.text-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.btns-container {
    display: flex;
    gap: 5px;
}