dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-child {
  position: relative;
  background: #ffffff;
  padding: 48px;
  border-radius: 16px;
  box-shadow: 0 12px 48px rgba(0, 0, 0, 0.25);
  width: 95%;
  max-width: 750px;
  box-sizing: border-box;
}

.close-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.modal-child form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-child textarea {
  min-height: 140px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
}
